  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100vh;
  }
  body{
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-size: 14px;
  }
 
  .aboutimg {
    width: 100%;
    height: 285px !important;
  }
  .text-large{
    font-size: 10px !important;
    font-family: Ubuntu, sans-serif !important;
  }

  /* .login-card{
    margin:auto !important;
    margin-top: auto !important;
    padding: 20px !important;
    z-index: 99 !important;
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54) !important;
    width: 90% !important;
    position: relative !important;
    margin-top: -46px !important;
    background-color: #fa0808 !important;
  }  */